.btn {
  margin: 0 5px;
  padding: 5px 10px;

  color: white;

  background: none;
  cursor: pointer;

  border: none;
  border-radius: 5px;
}

.primary {
  background-color: #764abc;
}

.secondary {
  background-color: #188432;
}

.danger {
  background-color: #bb2a1b;
}

button:disabled,
button[disabled]{
  color: #c1b9aa;

  opacity: .8;
}